# Ignore folders.
.storage
.cloud
.google.token
blueprints
custom_components
custom_zha_quirks
image
themes
tts
www

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Other files to ignore
*.log*
*.db*
.HA_VERSION